:root {
  --box-contain-width: 382px;
}

@font-face {
  font-family: "Digital 7";
  src: url('./digital-7/digital-7.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Digital 7";
  src: url('./digital-7/digital-7-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Digital 7 Mono";
  src: url('./digital-7/digital-7-mono.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Digital 7 Mono";
  src: url('./digital-7/digital-7-mono-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: calc(1em + 0.5rem);
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  height: 100vh;
  overflow: hidden;
  flex-direction: column 
}

#container {
  background-color: #0d1a1a;
  border: 10px solid #0d1a1a;
  border-radius: 31px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: var(--box-contain-width);
  gap: 4px;
  padding: 18px;
  margin: 0 15px;
}


#main-display {
  font-family: "Digital 7", "Lato", serif;
  font-weight: 400;
  background-color: #f9b13f;
  display: flex;
  justify-content: flex-end;
  font-size: 3.8em;
  padding: 15px 10px 27px 10px;
  border-radius: 16px;
  flex: 1;
  margin: 6px 0 20px;
  letter-spacing: 1.8px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

button {
  border-radius: 15px;
  flex: 1 0 calc(25% - 10px);
  height: 54px;
  font-size: 1.9em;
  color: #fff;
  background-color: #4b7069;
  border-width: 1px;
  cursor: pointer;
}

button.operand {
  background-color: #adc6c2;
}

button.clear {
  background-color: #d7563b;
}

.clear {
  font-size: 1.6em;
}

.decimal {
  font-size: 1.6em;
  padding-bottom: 3px;
}

button.click-highlight {
  background-color: #f9b13f;
}

@media (min-width: 1400px) {
  #main-display {
    padding: 15px 10px 19px 10px;
  }
}

@media screen and (max-width: 768px) {
  button {
    font-size: 1.4em;
    flex: 1 0 calc(25% - 10px);
    height: 45px;
  }

  #buttons {
    gap: 5px;
  }

  .clear {
    font-size: 1.3em;
}

  .decimal {
    font-size: 1.3em;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 480px) {
  #calculator {
    margin: 0px 15px;
  }

  #container {
    width: 95%;
    padding: 10px;
  }

  #main-display {
    font-size: 2.9em;
    padding: 16px 10px 14px 10px;
  }

  button {
    font-size: 1.2em;
    flex: 1 0 calc(25% - 10px);
    height: 45px;
  }

  #buttons {
    gap: 5px;
  }

  .clear {
    font-size: 1.1em;
}

  .decimal {
    font-size: 1.1em;
    padding-bottom: 3px;
  }

}